{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>アカウント</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--アイコンインポート-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/xxxxxxxxxx.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/style.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>

</head>

<body>
    <div id = "title">
        <image src="{% static 'images/game.png' %}" alt="ゲームロゴ" />
        <span class="title">新規登録</span>
    </div>

    {% if AccountCreate %}
        <h1>登録完了！</h1>
        <script type="text/javascript">
            setTimeout(function(){
            window.location.href = "{% url 'login' %}";
            }, 3*1000);
        </script>
        <p>3秒後にジャンプします</p>

    {% else %}

    <!-- 新規登録フォーム -->
    <div class ="login_login">
    <form  name="signup_form" enctype="multipart/form-data" method="post">
        <fieldset>
            <legend class="legend">アカウント</legend>
            {% csrf_token %}
            {{ account_form.as_p }}
            <button type="submit" formaction="" class="submit" value="作成"><i class="fas fa-arrow-right"></i></button>
        </fieldset>
        </form>
    </div>

    <!--
        <form  name="signup_form" enctype="multipart/form-data" method="post">
            <table class="create_form">
                {% csrf_token %}
                {{ account_form.as_table }}
                <tr><td></td><td>
                <input type="submit" formaction="" value="作成">
                </td></tr>
            </table>
            </form>

    -->

    {%  endif %}

    <div id="topbutton">
        <div class="img-box"  href="#top" onclick="$('html,body').animate({ scrollTop: 0 }); return false;">
            <image src="{% static 'images/seed.png' %}" alt="種"  class = "a" /> 
            <image src="{% static 'images/sunflower.png' %}" alt="ひまわり" class = "b"/> 
        </div>
    </div>
        
</body>

</html>