{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>ログイン</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="../../static/js/style.js"></script>

    
</head>

<body>
    


    <p><image src="{% static 'images/game_logo.jpg' %}" alt="ゲームロゴ" /></p>
    <h1>ようこそ！INIAD-HUMへ！</h1>

    <!--ログインフォーム-->
    <form name="login_form" method="post">
            {% csrf_token %}
            <div>
                <label for="username">ユーザーID</label>
                <input type="text" name="username">
            </div>
            <br>
            <div>
                <label for="password">パスワード</label>
                <input type="password" name="password">
            </div>
            <br>
            <input type="submit" class="btn" value="Login">

    </form>

    <!-- 新規登録画面へ -->
    <p>アカウントをお持ちですか？：
        <a href="{% url 'accounts' %}">アカウントを作成</a>
    </p>

    <p id="topbutton">
        <a href="#top" onclick="$('html,body').animate({ scrollTop: 0 }); return false;">▲TOPへ戻る</a>
     </p>
</body>

</html>
