@charset "UTF-8";

.HelpHome{
    display: inline;
}

/* 利用規約　*/


@media (min-width: 1000px) {
    .accordion-area{
        position: relative;
        list-style: none;
        width: 200px;
        max-width: 900px;
        margin:0 auto;
        left: 400px;
    }
 }

/*表示領域が600px未満*/

@media (max-width: 999px) {
    .accordion-area{
        position: relative;
        list-style: none;
        width: 200px;
        max-width: 900px;
        margin:0 auto;
        left: 200px;
    }
}

/*アコーディオン全体*/



.accordion-area li{
    margin: 10px 0;
}

.accordion-area section {
  border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.riyou {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
    background-color: #faf74d;
}

/*アイコンの＋と×*/
.riyou::before,
.riyou::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;
    
}
.riyou::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.riyou::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.riyou.close::before{
  transform: rotate(45deg);
}

.riyou.close::after{
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
    margin:0 3% 3% 3%;
    padding: 3%;
}

/*help*/


@media (min-width: 1000px) {
    .btn_help {
        position: relative;
        display: flex;
        left: 650px;
        top: 80px;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #C5E0B4;
        box-shadow: 0 0 20px #C5E0B4;
        cursor: pointer;
      }
 }

/*表示領域が600px未満*/

@media (max-width: 999px) {
    .btn_help {
        position: relative;
        display: flex;
        left: 200px;
        top: 80px;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #C5E0B4;
        box-shadow: 0 0 20px #C5E0B4;
        cursor: pointer;
      }
}

  
  /* ボタンの中のアイコン画像 */
  .btn_help img {
    width: 100%;
  }
  
  /* ボタンの波紋 */
  .btn_help::before, .pulse-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border: 1px solid #9afcba;
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none;
    animation: pulsate 2s linear infinite;
  }
  
  .btn_help::after {
    animation-delay: 1s;
  }
  
  /* ボタンの波紋が広がっていくアニメーション */
  @keyframes pulsate {
    0% {
      transform: scale(1);
      opacity: 1;
    }
  
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }