body{
    background-color: rgb(191, 207, 230);
}

h1{
    padding-left: 500px;
    padding-top: 50px;
}

p{
    float: left;
    padding: 6px 0;
}
p img{
    display: block;
    width: 170px;
    height: 100px;
    
}

form {
    display: block;
    padding-top: 100px;
}