body{
    background-color: rgb(191, 207, 230);
}
h1{
    padding-left: 500px;
    padding-top: 50px;
}
p{
    float: left;
    padding: 6px 0;
}
p img{
    display: block;
    width: 170px;
    height: 100px;
    
}
form {
    display: block;
    padding-top: 100px;
}
#topbutton {
    /* ▼ボタンの表示位置を画面の右下に固定 */
    position: fixed; /* ←表示場所を固定 */
    bottom: 18px;   /* ←下端からの距離 */
    left: 18px;    /* ←右端からの距離 */
    width: 7em;     /* ←横幅 */
 
    /* ▼最初は非表示にしておく */
    display: none;
 
    /* ▼配色・配置・文字の装飾など */
    background-color: #2525aa; /* ←背景色 */
    opacity: 0.75;        /* ←透明度 */
    border-radius: 24px;  /* ←角丸の半径 */
    text-align: center;  /* ←文字の位置 */
    font-size: 120%;     /* ←文字サイズ */
    font-weight: bold;   /* ←文字の太さ */
    margin: 0px;          /* ←外側の余白 */
    padding: 10px;       /* ←内側の余白 */
 }
 #topbutton a {
    /* ▼リンクの装飾 */
    color: white;          /* ←文字色 */
    text-decoration: none; /* ←下線なし */
 }
 #topbutton a:hover {
    /* ▼マウスが載ったときの装飾 */
    color: yellow;              /* ←文字色 */
    text-decoration: underline; /* ←下線あり */
} 

#cursor {
   position: fixed;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   background: #039645;
   width: 5px;
   height: 5px;
   border-radius: 100%;
   pointer-events: none;
}

#cursor.active {
   transform: scale(0);
}

#stalker {
   position: fixed;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   background: rgb(121, 216, 187);
   width: 40px;
   height: 40px;
   border-radius: 100%;
   transition: 0.2s;
   opacity: .3;
   pointer-events: none;
}

#stalker.active {
   transform: scale(3);
} 
