{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>X or Y</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>
   
</head>

<body>
    <p><a href="{% url 'choice' %}"><image src="{% static 'images/game.png' %}" alt="ゲームロゴ" /></a></p>
    <a class="button" href="{% url 'home' %}">ハムスターを探しにいく？</a>
    <a class="button" href="{% url 'match' %}">ハムスターを見つけるのに協力する？</a>
</body>

</html>