<!-- {% load staticfiles %} -->
<!DOCTYPE html>
<html>

<head>
    <title>Select game</title>
    <meta charset="utf-8">
    <!--
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
        デザインのため、いったんコメントアウトしてます。
    -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/style.js"></script>
   
</head>

<body>
    <p><image src="../game.png" alt="ゲームロゴ" /></p>
    <h1>Select</h1>

    
    <a href="{% url 'home' %}">X</a>
    <a href="{% url 'match'%}">Y</a>
</body>

</html>