{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Clear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/clear.css' %}">
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>
</head>

<body>
    <div id = "title">
        <a href="{% url 'choice' %}"><image src="{% static 'images/game.png' %}" alt="ゲームロゴ" /></a>
        <span class="title">他の人を助けに行こう！</span>
    </div>

    
    <a id="map" >
        <image src="{% static 'images/map_japan.png' %}" alt="map" height="700px" width="750px"  />
    </a>

    <div id="topbutton">
        <div class="img-box"  href="#top" onclick="$('html,body').animate({ scrollTop: 0 }); return false;">
            <image src="{% static 'images/seed.png' %}" alt="種"  class = "a" /> 
            <image src="{% static 'images/sunflower.png' %}" alt="ひまわり" class = "b"/> 
        </div>
    </div>
    
</body>

</html>