{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Help Log</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/help_log.css' %}">
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>

</head>

<body>
    <div id = "title">
        <a href="{% url 'choice' %}"><image src="{% static 'images/game.png' %}" alt="ゲームロゴ" /></a>
        <span class="title">助けてもらうために掲示板に書き込もう！</span>
    </div>


    <div class="helplog_helplog">

    <form name="help_form" action="{% url 'create_log' %}" method="POST" >
        {% csrf_token %}

        <fieldset>

        <legend class="legend">助けて！</legend>

        <div class="input">
            <input type="text" name="username" placeholder="ユーザー名を入力">
            <br>
        </div>

        <div class="input">
            <input type="text" name="roomname" placeholder="ルーム名">
            <br>
        </div>
        
        <div class="input">
            <textarea name="comment" placeholder="一言コメントを書こう！" rows="4" cols="78"></textarea>
            <br>
        </div>
        
        <button type="submit" value="送信" class="submit"><i class="fas fa-arrow-right"></i></button>

        </fieldset>
    </form>

    
    </div>

    

    <div id="topbutton">
        <div class="img-box"  href="#top" onclick="$('html,body').animate({ scrollTop: 0 }); return false;">
            <image src="{% static 'images/seed.png' %}" alt="種"  class = "a" /> 
            <image src="{% static 'images/sunflower.png' %}" alt="ひまわり" class = "b"/> 
        </div>
    </div>
</body>

</html>