{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Game</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>
    
</head>

<body>
    <p><image src="{% static 'images/game_logo.jpg' %}" alt="ゲームロゴ" /></p>
    
    <p>ログアウトは
    <a href="{% url 'logout' %}">こちら</a>
    </p>
    
    <div>
        ＜ゲーム画面＞
    </div>
    <a class="button" href="{% url 'chat' %}" target="_blank" rel="noopener">Help!</a>
</body>

</html>