<!DOCTYPE html>
<html>

<head>
    <title>Select room</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/style.js"></script>
    
</head>

<body>

    <p><image src="../game.png" alt="ゲームロゴ" /></p>
    <h1>Match</h1>

    
    

    <!-- ルーム番号入力フォーム -->
    <form name="form_room" method="post" action="#">
        <label for="room_number">Room number</label>
        <input type="number" id="room_number" name="room_number">
        <input type="submit" value="Enter">
    </form>
    <h1>Log</h1>
</body>

</html>