{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Select room</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>
    
</head>

<body>

    <div id = "title">
        <image src="{% static 'images/game.png' %}" alt="ゲームロゴ" />
        <span class="title">掲示板を見て助けにいく部屋を決めよう！</span>
    </div>

    <a class="button" href="{% url 'chat' %}" target="_blank" rel="noopener">決まった！</a>
    <h2>掲示板</h2>
    <table>
        {% for log in logs %}
        <tr>
            <td>{{ log.username }} {{ log.roomname }} {{log.comment }}</td>
        </tr>
        {% endfor %}
    </table>

    <div id="topbutton">
        <div class="img-box"  href="#top" onclick="$('html,body').animate({ scrollTop: 0 }); return false;">
            <image src="{% static 'images/seed.png' %}" alt="種"  class = "a" /> 
            <image src="{% static 'images/sunflower.png' %}" alt="ひまわり" class = "b"/> 
        </div>
    </div>
</body>

</html>