{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/style.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
</head>

<body>
    <p><image src="{% static 'images/game_logo.jpg' %}" alt="ゲームロゴ" /></p>
   

    

    <!-- 送信フォーム -->
    <form name="chat_send" onsubmit="return false;" action="">
        <div>
            Message : 
            <input type="text" name="text" id="input_message" autocomplete="off" autofocus >
            <input type="submit" value="Send">
        </div>
    </form>

    <ul id="list_message"></ul>

</body>

</html>