{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--アイコンインポート-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
    
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>
    
</head>

<body>
    <div id = "title">
        <a href="{% url 'choice' %}"><image src="{% static 'images/game.png' %}" alt="ゲームロゴ" /></a>
        
    </div>

    
    <div id="div_container">

        <div id="div_main">

            <div id="div_join_screen">
                <form action="" name="join_chat__" onsubmit="onsubmitButton_JoinChat(); return false;">
                    <fieldset>
                        <legend class="legend">マッチング</legend>
                        <div class="input">
                            User name:
                            <input type="text" id="input_username" placeholder="Enter User name" autofocus>
                            <br>
                        </div>
                        <div class="input">
                            Room name:
                            <input type="text" id="input_roomname" placeholder="Enter Room name">
                            <br>
                            Room nameは英数字でお願いします。
                        </div>
                        <button type="submit" value="Join Chat" class="submit"><i class="fas fa-arrow-right"></i></button>
                    </fieldset>
                </form>
            </div>

            <div id="div_chat_screen">
                    <fieldset>
                        <legend class="legend">チャット</legend>
                        <div class ="input">
                            User name :
                            <input type="text" id="text_username" readonly="readonly"><br>
                        </div>
                        
                        <div class="input">
                            Room name : 
                            <input type="text" id="text_roomname" readonly="readonly">
                        </div>
                            <!-- 送信フォーム -->
                            <form name="chat_send" action="" onsubmit="onsubmitButton_Send(); return false;">
                                <div class="input">
                                Message :
                                <input type="text" name="text" id="input_message" autocomplete="off" autofocus />
                               
                                <input type="submit" value="Send" />
                            </div>
                            </form>
                        
                        <button class="leavechat" onclick="onclickButton_LeaveChat()">Leave Chat.</button><br>
                    </fieldset>
                        
            </div>

            <table id="list__">
            <tr> 
                <td id="list_message"></tb>
            </tr>

            </table>
            
        </div>
    </div>

    <div id="topbutton">
        <div class="img-box"  href="#top" onclick="$('html,body').animate({ scrollTop: 0 }); return false;">
            <image src="{% static 'images/seed.png' %}" alt="種"  class = "a" /> 
            <image src="{% static 'images/sunflower.png' %}" alt="ひまわり" class = "b"/> 
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>

</body>

</html>