<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/style.js"></script>
</head>

<body>
    <p><image src="../game.png" alt="ゲームロゴ" /></p>
   

    

    <!-- 送信フォーム -->
    <form name="chat_send" action="post" action="#">
        <div>
            <input type="text" name="text" id="text" />
            <input type="submit" value="Send">
        </div>
    </form>

</body>

</html>