{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Signin</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="../../static/js/style.js"></script>

    
</head>

<body>
    


    <p><image src="../game.png" alt="ゲームロゴ" /></p>
    <h1>Signin</h1>
    
    <!--ログインフォーム-->
    <form name="login_form" method="post">
            {% csrf_token %}
            <div>
                <label for="username">username</label>
                <input type="text" id="username" name="username" />
            </div>
            <br>
            <div>
                <label for="password">password</label>
                <input type="password" id="password" name="password" />
            </div>
            <br>
            <input type="submit" value="login" />

    </form>

    <p id="topbutton">
        <a href="#top" onclick="$('html,body').animate({ scrollTop: 0 }); return false;">▲TOPへ戻る</a>
     </p>

    

    <!-- 新規登録画面へ -->
    <a href="{% url 'signup' %}">Signup</a>

    
</body>

</html>
